// 组件内样式覆盖

// qrcode
#qrcode {
  img {
    margin: 0 auto !important;
  }
}

// table
.table-title {
  :deep(.table) {
    @each $name,
    $color
    in (
            success: $color-success,
            main: $color-main,
            danger: $color-danger,
            warning: $color-warning
    )
    {
      .bcl-#{$name} {
        background-color: rgba($color: $color, $alpha: 0.3) !important;
      }
    }

    .cl-black {
      color: #666666 !important;
    }
  }
}

// pagination
.pagination {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
